<h1>Posts</h1>
<p>This is a list of posts on our blog.</p>

<div>
    <%= link_to("New post", new_post_path, class: 'btn btn-primary') %>
</div>

<hr />

<div class="posts-gallery">
    <% @posts.each do |p| %>
        <div class="gallery-item">
            <%= link_to(p.title, p) %>
        </div>
    <% end %>
</div>